.app {
    height: 100%;

    &-wrapper {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: flex-end;
    }

    &-container {
        display: flex;
        overflow-y: scroll;
        height: max-content;
        flex-direction: column;
    }
}
