.message {
    display: flex;
    background-color: black;
    border-radius: 8px;
    padding: 12px;
    margin: 6px 12px;
    color: #fff;
    width: 80%;

    &.sent {
        align-self: flex-end;
    }

    span {
        margin: 0 0 0 auto;
        cursor: pointer;
    }

    .highlighted {
        color: aquamarine;
    }
}
